* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}
.container {
  width: 55%;
  height: 480px;
  background: #fff;
  box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
  position: absolute;
  display: flex;
  /*  align-items: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.container h1 {
  color: #0a66c3;
  font-size: 1.6rem;
}
.container h1 i {
  font-size: 1.8rem;
  padding-left: 0.5rem;
}

.text-color {
  color: #8f5849;
}
.font-heading {
  font-size: 32px;
  font-weight: 300;
}
.text p {
  font-size: 0.8rem;
  padding-top: 0.3rem;
}

.input {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 0.7em;
}

.your-input input {
  width: 100%;
  height: 50px;
  padding-top: 1.1rem;
  padding-left: 9px;
  outline: none;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  transition: 0.2s;
}

.your-input label {
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 1.1rem;
  color: #8c8c8c;
  transition: 0.2s;
}

.input input:focus ~ label,
.input input:valid ~ label {
  top: 10%;
  font-size: 0.8rem;
  color: #000;
}

.input input:focus {
  border-width: 2px;
  border-color: #0a66c3;
}

.forgot-password-link {
  font-size: 1.6rem;
  font-weight: 400px;
  margin: 16px 0 24px 0;
  padding: 0.2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
}

.forgot-password-link:hover {
  color: rgba(25, 125, 226, 0.856);
}

button {
  height: 50px;
  background: #0a66c3;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
}

.join-link {
  text-decoration: none;
  font-weight: bolder;
  color: #0a66c3;
}

.join-now {
  text-decoration: none;
  font-weight: bolder;
  color: #0a66c3;
  border-radius: 12px;
  transition: 0.3s;
  font-weight: bolder;
  padding: 0.2rem;
}

.join-now:hover {
  background: rgba(10, 102, 195, 0.3);
}
